.subtitle {
  text-align: center;
  font-size: 2rem;
  margin: 2rem;
}

.chara_cards {
  display: grid;
  justify-content: space-evenly;
  padding: 20px;
  margin: 50px;
  border: 2px solid white;
  color: white;
  background: linear-gradient(to right, black, #02b2c8);
  border-radius: 9px;
}