* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
}

.hidden {
  display: none;
}

.main {
  display: grid;
  background-color: darkcyan;
  justify-content: space-evenly;
}