* {
  box-sizing: border-box;
}

body {
  font-family: 'Silkscreen', cursive;
  margin: 20px;
  background-image: url('/assets/R&M_background1.jpeg');
  background-repeat: repeat;
  background-size: contain;
  color: white;
}

.hidden {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2rem;
}