.navbar {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 30px;
  right: 30px;
  margin-left: 80%;
  align-self: flex-end;
  border: 8px ridge #56f628;
}

.navbar__item {
  font-size: 1.5rem;
  text-align: end;
  padding: 5px;
  background: transparent;
  color: white;
  text-decoration: none;
  font-family: 'Silkscreen', cursive;
  border: none;
}